body {
    background-color: black;
    font-family: var(--font-dm-sans);
}

button {
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(rigth, #AA2E9B, #8D51B8, #7B66C9, #6285E3, #5199F4);
    background: #aa2e9b;
    background: linear-gradient(0deg,#aa2e9b 0%, #5199f4 80%);
    background: -webkit-linear-gradient(0deg,#aa2e9b 0%, #5199f4 80%);  
    background: -moz-linear-gradient(0deg,#aa2e9b 0%, #5199f4 80%);
    border: 12px solid #050505;
}

.footer .footer__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.footer .footer__title {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer .footer__button{
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    margin: 15px 20px;
}

.footer .footer__button:hover {
    scale: 1.05;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 90px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar nav ul li a:hover {
    transition: 0.90s;
    color: #fff;
}

.library {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #121212;
    border-radius: 8px;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;

}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library__button:hover {
    color: #fff;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
    cursor: pointer;
    transition: 0.80s;
}

.library .library__content .fa-plus:hover {
    color: #fff;
    scale: 1.10;
    transition: 0.30s;
}

.section-playlist{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    border-radius: 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;

}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist .section-playlist__content .text {
    padding-bottom: 14px;
    color: #fff;
}

.section-playlist .section-playlist__content .title {
    font-weight: 800;
}

.section-playlist .section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
    cursor: pointer;
}

.section-playlist__content .section-playlist__button:hover {
    scale: 1.05;
    transition: 0.10s;
}

.sidebar .cookies {
    margin: 25px 20px;

}

.sidebar .cookies a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .language__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 14px;
}

.languages .language__button:hover {
    scale: 1.05;
    transition: 0.10s;
    
}